@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.container {
  display: flex;
  height: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  
  * {
    font-family: 'Poppins', sans-serif;
  }
  
  h1,
  h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
  }
  
  h2,
  p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2,
  h3 {
    font-size: 1.25rem;
  }
}

.glass {
  z-index: 2;
  display: flex;
  min-width: 60%;
  min-height: 60%;
  flex-direction: row;
  padding: 0;
  backdrop-filter: blur(2rem);
  background: #fff;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
}

.circle1,
.circle2 {
  position: absolute;
  width: 15rem;
  height: 15rem;
  background: #fff;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 12%;
}

.circle2 {
  bottom: 5%;
  left: 12%;
}

.dashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  text-align: center;
}

.user {
  margin: 2rem 2rem 1rem 2rem;
  
  h3 {
    margin: 0 0 0.25rem 0;
  }
  
  p {
    margin: 0;
    font-size: 1rem;
  }
}

.links {
  text-decoration: none;
}

.link {
  display: flex;
  align-items: center;
  padding: 0.5rem 5rem;
  margin: 1rem 0;
  
  h2 {
    padding: 0 2rem;
  }
}

.pro {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  margin: 1rem 2rem 2rem 2rem;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: #fff;
  
  &:hover {
    cursor: pointer;
  }
  
  h2 {
    color: #fff;
    font-weight: 600;
  }
  
  img {
    width: 75px;
    margin-top: -1rem;
  }
}

.games {
  flex: 2;
}
